<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <%-include("nav.ejs")%>
     <form name="frm" action="/savecate" method="POST">
      <div class="container w-50">
        <h2 class="text-center">Add Category</h2>
        <div class="form-group">
            <input type="text" name="name" value="" placeholder="Enter Category" 
             class="form-control">
        </div>

         <div class="form-group">
            <input type="submit"  value="Add Category" 
             class="form-control">
        </div>

        <label for="" class="form-control text-center"><%=msg%></label>
      </div>
      </form>
</body>
</html>